<div class="panel panel-primary">
    <div class="panel-heading" style="font-size: large;">
        Product List
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <td>
                    <button class="btn btn-primary" type="button" ng-click="toggleImage()">
                        {{showImage?"Hide":"Show"}} Image
                    </button>
                </td>
                <td>Product</td>
                <td>Code</td>
                <td>Available</td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>
                    <img ng-src="{{product.imageUrl}}" ng-if="showImage" style="width:50px;margin:2px"
                         title="{{product.productName}}"/>
                </td>
                <td>
                    <a href="#/products/{{product.productId}}">
                        {{product.productName}}
                    </a>
                </td>
                <td>{{product.productCode}}</td>
                <td>{{product.releaseDate | date}}</td>
                <td>{{product.price | currency}}</td>
            </tr>
            </tbody>
            <tr>
            </tr>
        </table>
    </div>
</div>